{
	"plugins": [
		"@prettier/plugin-php",
		"@shufo/prettier-plugin-blade",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": ["*.blade.php"],
			"options": {
				"parser": "blade"
			}
		}
	],
	"useTabs": false,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"removeSpaces": true,
	"printWidth": 80,
	"bracketSpacing": true,
	"proseWrap": "preserve",
	"arrowParens": "always"
}
