/* :root {
	--background: white;
	--foreground: black;
}

[data-theme='dark'] {
	--background: black;
	--foreground: white;
} */

/* Typography
 --------------------------------- */
:root {
  /* --suisse-intl: 'SuisseIntl', 'Arial', sans-serif; */
  --raleway: 'Raleway', 'Arial', sans-serif;
}

/* переменная используемая в html для подключения скейлинга */
$fz-default: 16px;

/* у некоторых шрифтов в ios возникают проблемы с символом рубля */
/* https://www.artlebedev.ru/kovodstvo/sections/159/#13 */

$ff-rouble: 'Rouble', 'Arial', sans-serif;

/* $ff-suise-intl: 'SuisseIntl', 'Arial', sans-serif; */
