.first {
  @apply relative z-0 overflow-hidden;

  &_parallax {
    /* @apply h-[722px] sm:h-[787px] md:h-[928px] lg:h-[946px] xl:h-[1028px]; */
    @apply h-screen;

    /* aspect-parallax_first; */
  }

  &__bg {
    @apply absolute left-1/2 top-full z-0 aspect-first_wave_bg w-full max-w-[2560px] -translate-x-1/2 content-[''] xl:top-[60%];

    object-fit: cover;
    object-position: 50% 100%;
  }

  &__image {
    @apply fixed bottom-0 left-0 right-0 top-0 mx-auto flex w-full overflow-hidden;
    /* z-index: -1; */
    /* display: none; */
  }

  &__img {
    @apply absolute left-0 top-0 mx-auto flex h-full w-full object-cover;
    object-position: 70% 100%;

    @screen lg {
      object-position: 50% 50%;
    }
  }

  &__inner-bg {
    @apply absolute bottom-0 left-1/2 z-0 aspect-first_inner_wave w-full -translate-x-1/2 content-[''];

    background-color: white;
    object-fit: cover;
    object-position: 50% 100%;
  }

  &__container-w {
    @apply relative z-10 ~pt-[112px]/[124px];
  }

  &__container-w-w {
  }

  &__container {
    @apply relative;
    z-index: 1;
  }

  .first__title {
    @apply mt-0 text-pretty text-white ~mb-[25px]/[33px];
  }

  &__entry {
    @apply flex w-auto flex-col-reverse flex-wrap items-center ~gap-[20px]/[40px] md:flex-row md:flex-nowrap;
  }

  &__buttons {
    @apply flex w-full flex-col gap-4 sm:flex-row md:w-auto md:flex-col;
  }

  &__btn {
    @apply w-full;
  }

  &__list {
    @apply w-full list-inside list-disc text-gray ~text-[14px]/[17px] md:w-auto;
  }

  &__item {
    @apply ~mb-[6px]/[10px] last-of-type:mb-0;
  }

  &__tiles {
    @apply grid w-full justify-center gap-2 grow;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  }

  &__tile {
    /* @apply lg:w-auto; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
  }

  &_front {
    .first__container-w {
      &:after {
        @apply absolute left-1/2 top-0 z-0 h-full w-full -translate-x-1/2 content-[''] xl:h-[60%];

        background-image: linear-gradient(
          to right,
          #2889c4 0%,
          #1868ad 15%,
          #0a3574 50%,
          #0e3166 100%
        );
      }
    }
  }

  &_inner {
    /* @apply ; */
    background-image: linear-gradient(
      to right,
      #2b90c8 0%,
      #1868ad 16%,
      #0b3370 50%,
      #142c52 100%
    );
    .first__bg {
      @apply absolute bottom-0 left-1/2 top-auto h-[238px] max-w-[2560px] -translate-x-1/2 items-center overflow-visible sm:h-[278px] md:h-[387px] lg:h-[374px] xl:h-[390px] 2xl:h-[690px];

      background-image: linear-gradient(
        to right,
        #2b90c8 0%,
        #1868ad 16%,
        #0b3370 50%,
        #142c52 100%
      );
    }

    .first__inner-bg {
      /* t */
    }
    .first__container-w {
      @apply flex ~pt-[112px]/[124px] ~pb-[20px]/[60px] lg:min-h-[374px] xl:min-h-[390px] 2xl:min-h-[490px];
    }

    .first__container {
      @apply flex flex-wrap items-center ~gap-[15px]/[30px] lg:flex-nowrap;
    }

    .first__title-w {
      @apply max-w-[420px];
    }

    .first__title {
      @apply leading-tight ~mb-[25px]/[20px];
    }
    .first__entry {
      @apply h-full w-full flex-col items-start ~gap-[20px]/[30px] lg:w-full lg:flex-row lg:items-center;
    }

    .first__buttons {
      @apply gap-2;
    }
  }
}
