.header {
  @apply fixed left-0 right-0 top-0 z-10 transition-all;

  &__container {
    @apply flex flex-nowrap items-center justify-between py-5 ~gap-x-[10px]/[20px];
  }

  &__logo {
  }

  &__nav-w {
    @apply relative w-full lg:flex lg:flex-nowrap lg:items-center lg:justify-between lg:gap-4;

    @screen lg {
    }
  }

  &__nav {
    @apply hidden xl:flex xl:w-full xl:justify-center;

    @screen lg {
      /* @apply flex w-full max-w-full justify-center; */
    }
  }

  &__contacts-w {
    @apply hidden lg:flex lg:w-full lg:flex-row lg:justify-center xl:ml-auto xl:w-auto;
  }

  .header__socials {
    @apply hidden;
  }

  &__contacts {
    @apply lg:flex lg:justify-center lg:gap-7 xl:flex-col xl:gap-2;
  }

  &__burger {
    @apply relative ml-auto flex h-[32px] w-[50px] flex-col justify-between xl:hidden;
  }

  &__burger-line {
    @apply h-0.5 w-[50px] bg-white transition-transform;
  }
  &_fixed {
    @apply fixed z-20 bg-blue transition-all;

    .header__container {
      @apply py-2;
    }
  }

  &_hidden {
    @apply hidden transition-all duration-75 ease-in-out;
  }

  &_nav_open {
    &:after {
      @apply bg-fixed_bg fixed right-0 top-0 h-screen w-screen content-[''];
    }

    .header__nav-w {
      @apply absolute right-0 top-0 z-20 flex h-screen max-w-[604px] flex-col bg-blue ~py-[40px]/[60px];
    }
    .header__nav {
      @apply flex h-full flex-col justify-center;
    }
    .header__nav-list {
      @apply flex-col gap-6;

      .nav__link {
        @apply text-gray;
      }
    }

    .header__burger {
      @apply absolute right-5 top-5;
    }

    .header__burger-line.rotate {
      transform: translateY(15px) rotate(45deg);
    }

    .header__burger-line.rotate-reverse {
      transform: translateY(-15px) rotate(-45deg);
    }

    .header__burger-line.hidden {
      opacity: 0;
    }

    .header__contacts-w {
      @apply mt-auto flex flex-col gap-7;
    }

    .header__socials {
      @apply flex justify-center;
    }

    .header__contacts {
      @apply flex flex-col items-center gap-2.5;
    }
  }
}
