.tile {
  @apply aspect-first_tile rounded-[10px];

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-color: #fff;

  &_sale {
    background-image: url('../../images/global/tiles/sales-bg.png');
  }
  &_price {
    background-image: url('../../images/global/tiles/pricelist-bg.png');
  }

  &_calc {
    background-image: url('../../images/global/tiles/calc-bg.png');
  }

  &_install {
    background-image: url('../../images/global/tiles/install-bg.png');
  }

  &_callback {
    background-image: url('../../images/global/tiles/callback-bg.png');
  }

  &_tech {
    background-image: url('../../images/global/tiles/tech-bg.png');
  }

  &__link {
    @apply relative flex h-full w-full items-end justify-start p-5 text-[17px] font-medium leading-none text-title;
  }

  &__icon {
    @apply absolute right-5 top-5 size-[26px];
  }

  &__link-text {
    @apply w-full leading-normal;
  }
  &__link-icon {
    @apply inline-flex size-[22px] shrink-0;
  }
}
